{% load static %}
{% load i18n %}
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-content-area">
        <div class="perfect-scroll">
          <div class="mobile-menu-wrap mobile-header-border">
            <nav class="mt-15">
              <ul class="mobile-menu font-heading">
                <li ><a href="{% url 'api:index' %}">{% trans "Home" %}</a></li>
                <li ><a href="https://transferslux.com/#transferservice">{% trans "Transfer service" %}</a>
                <li ><a href="https://transferslux.com/#fleet">{% trans "Our Fleet" %}</a></li>
                <li ><a href="{% url 'api:help' %}">{% trans "Help" %}</a></li>
                <li><a href="{% url 'api:contacts' %}">{% trans "Contact" %}</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>