{% load static %}
{% load i18n %}
<section class="section pt-120 pb-120 bg-our-fleet"> 
    <div class="container-sub"> 
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <h2 class="heading-44-medium title-fleet wow fadeInUp">Our Fleet</h2>
        </div>
        
      </div>
    </div>
    <div class="box-slide-fleet mt-50">
      <div class="box-swiper"> 
        <div class="swiper-container swiper-group-4-fleet pb-0">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> 
              <div class="cardFleet wow fadeInUp">
                <div class="cardInfo"><a href="fleet-single.html">
                    <h3 class="text-20-medium color-text mb-10">Business Class</h3></a>
                  <p class="text-14 color-text mb-30">Mercedes-Benz E-Class, BMW 5 Series, Cadillac XTS or similar</p>
                </div>
                <div class="cardImage mb-30"><a href="fleet-single.html"><img src="{% static '/imgs/page/homepage1/e-class.png' %}" alt=""></a></div>
                <div class="cardInfoBottom">
                  <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                  <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide"> 
              <div class="cardFleet wow fadeInUp">
                <div class="cardInfo"><a href="fleet-single.html">
                    <h3 class="text-20-medium color-text mb-10">First Class</h3></a>
                  <p class="text-14 color-text mb-30">Mercedes-Benz EQS, BMW 7 Series, Audi A8 or similar</p>
                </div>
                <div class="cardImage mb-30"><a href="fleet-single.html"><img src="{% static '/imgs/page/homepage1/eqs.png' %}" alt=""></a></div>
                <div class="cardInfoBottom">
                  <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                  <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide"> 
              <div class="cardFleet wow fadeInUp">
                <div class="cardInfo"><a href="fleet-single.html">
                    <h3 class="text-20-medium color-text mb-10">Business Van/SUV</h3></a>
                  <p class="text-14 color-text mb-30">Mercedes-Benz V-Class, Chevrolet Suburban, Cadillac Escalade, Toyota Alphard or similar</p>
                </div>
                <div class="cardImage mb-30"><a href="fleet-single.html"><img src="{% static '/imgs/page/homepage1/suv.png' %}" alt=""></a></div>
                <div class="cardInfoBottom">
                  <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                  <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide"> 
              <div class="cardFleet wow fadeInUp">
                <div class="cardInfo"><a href="fleet-single.html">
                    <h3 class="text-20-medium color-text mb-10">Electric Class</h3></a>
                  <p class="text-14 color-text mb-30">Mercedes-Benz V-Class, Chevrolet Suburban, Cadillac Escalade, Toyota Alphard or similar</p>
                </div>
                <div class="cardImage mb-30"><a href="fleet-single.html"><img src="{% static '/imgs/page/homepage1/v-class.png' %}" alt=""></a></div>
                <div class="cardInfoBottom">
                  <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                  <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-pagination-fleet">
            <div class="swiper-button-prev swiper-button-prev-fleet">
              <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
              </svg>
            </div>
            <div class="swiper-button-next swiper-button-next-fleet">
              <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>