{% load static %}
{% load i18n %}
<section class="section pt-120 pb-20 bg-primary bg-how-it-works"> 
    <div class="container-sub"> 
      <h2 class="heading-44-medium color-white mb-60 wow fadeInUp">How It Works</h2>
      <div class="row"> 
        <div class="col-lg-6 order-lg-last">
          <div class="box-main-slider"> 
            <div class="detail-gallery wow fadeInUp">
              <div class="main-image-slider">
                <figure><img src="{% static '/imgs/page/homepage1/laptop.png' %}" alt=""></figure>
                <figure><img src="{% static '/imgs/page/homepage1/desktop.png' %}" alt=""></figure>
                <figure><img src="{% static '/imgs/page/homepage1/desktop2.png' %}" alt=""></figure>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-first justify-content-between position-z3 wow fadeInUp">
          <ul class="slider-nav-thumbnails list-how"> 
            <li> <span class="line-white"></span>
              <h4 class="text-20-medium mb-20">Create Your Route</h4>
              <p class="text-16">Enter your pickup & dropoff locations or the number of hours you wish to book a car and driver for</p>
            </li>
            <li> <span class="line-white"></span>
              <h4 class="text-20-medium mb-20">Choose Vehicle For You</h4>
              <p class="text-16">On the day of your ride, you will receive two email and SMS updates - one informing you that.</p>
            </li>
            <li> <span class="line-white"></span>
              <h4 class="text-20-medium mb-20">Enjoy The Journey</h4>
              <p class="text-16">After your ride has taken place, we would appreciate it if you could rate your car and driver.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>