{% load static %}
{% load i18n %}
<section class="section mt-110"> 
  <div class="container-sub"> 
    <div class="text-center">
      <h2 class="heading-44-medium color-text wow fadeInUp">{% trans "How It Works" %}</h2>
    </div>
    <div class="row mt-60 box-how-it-work"> 
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>1</span></div>
          <div class="cardTitle">
            <p class="text-20-medium color-text">{% trans "Choose Your Route and Vehicle" %}</p>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Enter your pickup &amp; dropoff locations and choose a vehicle of any capacity." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>2</span></div>
          <div class="cardTitle">
            <p class="text-20-medium color-text">{% trans "Complete the Booking Form" %}</p>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "As soon as your booking is complete, you will receive an email about you ride." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>3</span></div>
          <div class="cardTitle">
            <p class="text-20-medium color-text">{% trans "Enjoy Your Ride" %}</p>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "After your ride has taken place, we would appreciate it if you could rate your car and driver." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>