{% load static %}
{% load i18n %}
<section class="section pt-120 pb-20">
  <div class="container-sub"> 
    <div class="text-center"> 
      <h2 class="heading-44-medium wow fadeInUp">How It Works</h2>
    </div>
    <div class="box-list-how mt-90"> 
      <ul> 
        <li class="has-arrow wow fadeInUp"> 
          <div class="cardWork"> 
            <div class="cardImage"> <img src="{% static 'imgs/page/homepage2/route.svg' %}" alt=""></div>
            <div class="cardTitle"> 
              <h5 class="text-20-medium color-text">Create Your Route</h5>
            </div>
            <div class="cardDesc"> 
              <p class="color-text text-16">Enter your pickup & dropoff locations or the number of hours you wish to book a car and driver for</p>
            </div>
          </div>
        </li>
        <li class="has-arrow wow fadeInUp"> 
          <div class="cardWork"> 
            <div class="cardImage"> <img src="{% static 'imgs/page/homepage2/vehicle.svg' %}" alt=""></div>
            <div class="cardTitle"> 
              <h5 class="text-20-medium color-text">Create Your Route</h5>
            </div>
            <div class="cardDesc"> 
              <p class="color-text text-16">Enter your pickup & dropoff locations or the number of hours you wish to book a car and driver for</p>
            </div>
          </div>
        </li>
        <li class="wow fadeInUp"> 
          <div class="cardWork"> 
            <div class="cardImage"> <img src="{% static 'imgs/page/homepage2/like.svg' %}" alt=""></div>
            <div class="cardTitle"> 
              <h5 class="text-20-medium color-text">Create Your Route</h5>
            </div>
            <div class="cardDesc"> 
              <p class="color-text text-16">Enter your pickup & dropoff locations or the number of hours you wish to book a car and driver for</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>