{% load static %}
{% load i18n %}
<section class="section pt-120 pb-120 bg-region">
    <div class="container-sub"> 
      <div class="row align-items-center"> 
        <div class="col-lg-6 mb-30">
          <div class="box-gallery justify-content-center justify-content-lg-start"> 
            <div class="gallery-1 wow fadeInUp"><img src="{% static '/imgs/page/homepage1/img1.png' %}" alt=""></div>
            <div class="gallery-2 wow fadeInUp"><img src="{% static '/imgs/page/homepage1/img2.png' %}" alt=""><img src="{% static '/imgs/page/homepage1/img3.png' %}" alt=""></div>
          </div>
        </div>
        <div class="col-lg-6 mb-30">
          <div class="box-region-right wow fadeInUp">
            <h2 class="heading-44-medium color-text mb-30">From the region, for the region</h2>
            <p class="text-16 color-text mb-30">Superide operates in more than 120 cities in 18 countries from Morocco to Pakistan.</p><a class="btn btn-primary">View All Cities
              <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
              </svg></a>
          </div>
        </div>
      </div>
    </div>
  </section>