{% load static %}
{% load i18n %}
<section class="section pt-80 block-padding-100">
  <div class="box-fleet-padding bg-2 bg-testimonial">
    <div class="container-sub"> 
      <div class="row align-items-center"> 
        <div class="col-lg-6 mb-30">
          <h2 class="heading-44-medium color-text mb-30 wow fadeInUp">{% trans "Hear what our amazing customers say" %}</h2>
          <p class="text-16 color-text mb-30 wow fadeInUp">
            {% trans "People and companies from more than 50 countries trust us with their trip for a comfortable transfer in Italy" %}
            
            
            </p><a class="btn btn-secondary wow fadeInUp" href="https://uk.trustpilot.com/review/www.transferslux.com" style="background-color:#000">{% trans "See all reviews" %}
            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg></a>
        </div>
        <div class="col-lg-6 mb-30">
          <div class="box-region-right wow fadeInUp">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-group-testimonials-2 pb-50">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="cardTestimonial">
                      <div class="cardAuthor mb-30"> 
                        <div class="box-author"> 
                          <div class="author-info">
                            <div class="author-name text-18-medium color-text">Nils Voigt</div>
                            <p class="text-14 color-text desc-author">Google Reviews</p>
                          </div>
                        </div>
                      </div>
                      <div class="info-testimonial"> 
                        <p class="color-text text-18-medium-2">Top quality. Friendly, reliable and punctual.</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardTestimonial">
                      <div class="cardAuthor mb-30"> 
                        <div class="box-author"> 
                          <div class="author-info">
                            <div class="author-name text-18-medium-2 color-text">Matthias Niculescu</div>
                            <p class="text-14 color-text desc-author">Google Reviews</p>
                          </div>
                        </div>
                      </div>
                      <div class="info-testimonial"> 
                        <p class="color-text text-18-medium">Very clean car, driver is a very nice and kind man!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-pagination-button-testimonials-2">
                  <div class="swiper-button-prev swiper-button-prev-testimonials-2"></div>
                  <div class="swiper-button-next swiper-button-next-testimonials-2"></div>
                  <div class="swiper-pagination swiper-pagination-testimonials-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>