{% load static %}
{% load i18n %}
<section class="section pt-130 pb-130 bg-primary box-testimonials">
    <div class="container-sub"> 
      <div class="row"> 
        <div class="col-lg-5 col-md-6 mb-30">
          <div class="box-swiper"> 
            <div class="swiper-container swiper-group-testimonials pb-50">
              <div class="swiper-wrapper">
                <div class="swiper-slide"> 
                  <div class="cardQuote wow fadeInUp">
                    <div class="box-quote"> 
                      <div class="icon-quote"> </div>
                      <div class="info-quote"> 
                        <h5 class="color-white text-18-medium">Jonathan Miller</h5>
                        <p class="color-white text-14">Web Developer</p>
                      </div>
                    </div>
                    <div class="content-quote">
                       I really can recommend this theme, because it’s coded very well and  it’s really easy to build your own website!</div>
                  </div>
                </div>
                <div class="swiper-slide"> 
                  <div class="cardQuote wow fadeInUp">
                    <div class="box-quote"> 
                      <div class="icon-quote"> </div>
                      <div class="info-quote"> 
                        <h5 class="color-white text-18-medium">Jonathan Miller</h5>
                        <p class="color-white text-14">Web Developer</p>
                      </div>
                    </div>
                    <div class="content-quote">
                       I really can recommend this theme, because it’s coded very well and  it’s really easy to build your own website!</div>
                  </div>
                </div>
                <div class="swiper-slide"> 
                  <div class="cardQuote wow fadeInUp">
                    <div class="box-quote"> 
                      <div class="icon-quote"> </div>
                      <div class="info-quote"> 
                        <h5 class="color-white text-18-medium">Jonathan Miller</h5>
                        <p class="color-white text-14">Web Developer</p>
                      </div>
                    </div>
                    <div class="content-quote">
                       I really can recommend this theme, because it’s coded very well and  it’s really easy to build your own website!</div>
                  </div>
                </div>
                <div class="swiper-slide"> 
                  <div class="cardQuote wow fadeInUp">
                    <div class="box-quote"> 
                      <div class="icon-quote"> </div>
                      <div class="info-quote"> 
                        <h5 class="color-white text-18-medium">Jonathan Miller</h5>
                        <p class="color-white text-14">Web Developer</p>
                      </div>
                    </div>
                    <div class="content-quote">
                       I really can recommend this theme, because it’s coded very well and  it’s really easy to build your own website!</div>
                  </div>
                </div>
              </div>
              <div class="box-pagination-testimonials mt-40 wow fadeInUp"> <span class="firstNumber"></span><span class="lastNumber"></span>
                <div class="swiper-pagination swiper-pagination-testimonials"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 mb-30 text-lg-end text-center d-none d-md-block">
          <div class="box-video wow fadeInUp"> <a class="btn btn-play popup-youtube hover-up" href="https://www.youtube.com/watch?v=sVPYIRF9RCQ"></a><img src="{% static '/imgs/page/homepage1/img-video.png' %}" alt=""></div>
        </div>
      </div>
    </div>
  </section>