{% load static %}
{% load i18n %}
<section class="section mt-110"> 
    <div class="container-sub"> 
      <div class="text-center">
        <h2 class="heading-44-medium color-text wow fadeInUp">Make Your Trip Your Way With Us</h2>
      </div>
      <div class="row mt-50 cardIconStyleCircle"> 
        <div class="col-lg-4">
          <div class="cardIconTitleDesc wow fadeInUp">
            <div class="cardIcon"><img src="{% static '/imgs/page/homepage1/safe.svg' %}" alt="luxride"></div>
            <div class="cardTitle">
              <h5 class="text-20-medium color-text">Safety First</h5>
            </div>
            <div class="cardDesc">
              <p class="text-16 color-text">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cardIconTitleDesc wow fadeInUp">
            <div class="cardIcon"><img src="{% static '/imgs/page/homepage1/price.svg' %}" alt="luxride"></div>
            <div class="cardTitle">
              <h5 class="text-20-medium color-text">Prices With No Surprises</h5>
            </div>
            <div class="cardDesc">
              <p class="text-16 color-text">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4"> 
          <div class="cardIconTitleDesc wow fadeInUp">
            <div class="cardIcon"><img src="{% static '/imgs/page/homepage1/vehicle.svg' %}" alt="luxride"></div>
            <div class="cardTitle">
              <h5 class="text-20-medium color-text">Private Travel Solutions</h5>
            </div>
            <div class="cardDesc">
              <p class="text-16 color-text">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>