{% load static %}
{% load i18n %}
<section class="section bg-white pt-120" id="transferservice">
  <div class="container-sub">
    <div class="row align-items-center"> 
      <div class="col-lg-6 mb-30">
        <h2 class="heading-44-medium color-text wow fadeInUp">
          {% trans "We make sure that your every trip is comfortable" %}
        </h2>
      </div>
      <div class="col-lg-6 mb-30"> 
        <p class="text-16 color-text wow fadeInUp">
          {% trans "A transfer service, akin to a tourist service, where you can book a private transfer from airports, train stations, or hotels, with a professional driver." %}
        </p>
      </div>
    </div>
    <div class="row mt-50 justify-content-between"> 
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/limo.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "Luxury Cars" %} <br class="d-none d-lg-block">{% trans "Selection" %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/phone.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "24/7 Order" %} <br class="d-none d-lg-block">{% trans "Available" %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/wheel.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "Fast Car Delivery" %}<br class="d-none d-lg-block">{% trans "Service" %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/seat.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "High Safety" %} <br class="d-none d-lg-block">{% trans "and Nurity" %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/price.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "Fixed Price &" %} <br class="d-none d-lg-block">{% trans "Bonus System" %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"> 
        <div class="cardImageText wow fadeInUp"> 
          <div class="cardImage"> <img src="{% static 'imgs/page/homepage4/driver.svg' %}" alt="luxride"></div>
          <div class="cardInfo">
            <p class="text-20-medium color-text">{% trans "Professional" %} <br class="d-none d-lg-block">{% trans "Car Drivers" %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>