<!DOCTYPE html>
<html lang="en" data-x="html" data-x-toggle="html-overflow-hidden">
    {% load static %}
    {% load i18n %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="msapplication-TileColor" content="#0E0E0E">
      <meta name="template-color" content="#0E0E0E">
      <meta name="description" content="{% trans "Comfortable transfers from airports and hotels in Italy" %}">
      <meta name="keywords" content="{% trans "transfer, italy, private transfers, airport transfer" %}">
      <!-- Google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">
  
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/template/favicon.png' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>{% trans "TransfersLux – Comfortable transfers from airports and hotels in Italy" %}</title>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-604109330"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-604109330');
      </script>
      <script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&loading=async&callback=initMap"></script>
      <script>
  
        async function initMap() {
        //alert("ok");
      
        const card = document.getElementById("pac-card");
        const options = {
          fields: ["formatted_address", "geometry", "name"],
          strictBounds: false,
        };
      
        // const autocomplete = new google.maps.places.Autocomplete(input, options);
      
        // NEW
        const googleComponents = [
          { googleComponent: `sublocality_level_1`, id: `city-address-field` },
          { googleComponent: `locality`, id: `city-address-field` },
          { googleComponent: `administrative_area_level_1`, id: `state-address-field` },
          { googleComponent: `postal_code`, id: `postal-code-address-field` },
        ];
        // FROM
        const autocompleteFormFieldFrom = document.getElementById(`id_from`);
        const autocompleteFromFieldFrom_hidden = document.getElementById(`id_from_hidden`);
        const autocompleteFrom = new google.maps.places.Autocomplete(autocompleteFormFieldFrom, options);
      
        google.maps.event.clearInstanceListeners(autocompleteFormFieldFrom);
        autocompleteFrom.addListener("place_changed", () => {
      
          const place_from = autocompleteFrom.getPlace();
          //console.log(place_from)
          //console.log(place_from.formatted_address)
          //console.log(place_from.name)
          autocompleteFormFieldFrom.value = place_from.name;
          autocompleteFromFieldFrom_hidden.value = place_from.formatted_address;
          
        });
        // TO
        const autocompleteFormFieldTo = document.getElementById(`id_to`);
        const autocompleteFromFieldTo_hidden = document.getElementById(`id_to_hidden`);
        const autocompleteTo = new google.maps.places.Autocomplete(autocompleteFormFieldTo, options);
        google.maps.event.clearInstanceListeners(autocompleteFormFieldTo);
        autocompleteTo.addListener("place_changed", () => {
      
          const place_to = autocompleteTo.getPlace();
          autocompleteFormFieldTo.value = place_to.name;
          autocompleteFromFieldTo_hidden.value = place_to.formatted_address;
          
      
      
        });
      
      }
      
      
      
      window.initMap = initMap;
      
      </script>
    </head>
  <body>
    {% include 'includes/preloader.html' %}
    {% include 'includes/header.html' %}
    {% include 'includes/mobile_menu.html' %}
    <main class="main">
      {% include 'mainpage/search.html' %}
      {% include 'mainpage/how-it-works3.html' %}
      {% include 'mainpage/fleet4.html' %}
      
      {% include 'mainpage/why-us2.html' %}
      {% include 'mainpage/testimonials2.html' %}
      {% include 'mainpage/faq.html' %}
      
      
    </main>
    {% include 'includes/footer.html' %}
    <script src="{% static '/js/vendors/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static '/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/js/vendors/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static '/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/vendors/waypoints.js' %}"></script>
    <script src="{% static '/js/vendors/wow.js' %}"></script>
    <script src="{% static '/js/vendors/magnific-popup.js' %}"></script>
    <script src="{% static '/js/vendors/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static '/js/vendors/select2.min.js' %}"></script>
    <script src="{% static '/js/vendors/isotope.js' %}"></script>
    <script src="{% static '/js/vendors/scrollup.js' %}"></script>
    <script src="{% static '/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/js/vendors/noUISlider.js' %}"></script>
    <script src="{% static '/js/vendors/slider.js' %}"></script>
    <!-- Count down-->
    <script src="{% static '/js/vendors/counterup.js' %}"></script>
    <script src="{% static '/js/vendors/jquery.countdown.min.js' %}"></script>
    <!-- Count down--><script src="{% static '/js/vendors/jquery.elevatezoom.js' %}"></script>
    <script src="{% static '/js/vendors/slick.js' %}"></script>
    <script src="{% static '/js/vendors/jquery-ui.js' %}"></script>
    <script src="{% static '/js/vendors/jquery.timepicker.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(88729492, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88729492" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="//code.jivosite.com/widget/tVkFYVL5Kl" async></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
 $(window).scrollTop(0);
});
</script>
  </body>
</html>